@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'SEBANG_Gothic_Bold';
}

.container {
    width: 380px;
    height: 850px;
    background-image: url("file:///C:/Users/Administrator/Desktop/myweb-main/%EB%82%B4%EB%B8%94%EB%A1%9C%EA%B7%B8/image.jpg");
    background-size: cover;
}

.container .item:nth-child(1) {
    color: rgb(9, 42, 73);
    text-align: center;
    padding-top: 200px;
    font-size: 45px;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.container .item:nth-child(2)>div {
    color: rgb(9, 42, 73);
    font-size: 20px;
    display: block;
    width: 250px;
    height: 35px;
    padding-top: 15px;
    margin-bottom: 15px;
    margin-left: 65px;
    text-align: center;
    background-color: whitesmoke;
}

ul> div:first-child {
    margin-top: 15px;
}

.container .item:nth-child(2)>div:hover {
    background-color: rgb(9, 42, 73);
    color: lavender;
    transition: 0.5s;
}

a {
    color: inherit;
    text-decoration: none;
}